* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 500px;
    margin: 10px auto;
    background-color: rgb(67, 67, 167);
    text-align: center;
}

.container h3 {
    color: palevioletred;
    padding: 20px;
}

.container__main {
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: 0px auto;
    padding-top: 10px;
}

.container__title2 {
    margin: 20px 0px;
}

.container__point__list {
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
}

.container__point__list li {
    width: 50px;
    height: 50px;
    background-color: beige;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container__review {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
    width: 900px;
}

.container__review input {
    flex-grow: 1;
    border: none;
    padding: 20px;
    outline: none;
}

.container__review button {
    background-color: rgb(149, 156, 156);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    margin: 0px 20px;
}

.container__feedback {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 900px;
}

.container__feedback__main__point p {
    width: 50px;
    height: 50px;
    background-color: beige;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container__feedback__main__review {
    margin: 10px 30px;
}

.edit {
    color: pink;
    cursor: pointer;
}

.close {
    color: pink;
    cursor: pointer;
}